name: Node.js 
on:
  push:
       branchs: 
       - "main"
              
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: use node.js ${{ matrix.node-version }}
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: npm install
      - run: npm run build
        env:
         CI: true
